{%  extends "base.html.twig" %}

{% block body %}

    <div class="content">
                <div class="lighter">
                    <h2>Witaj {{ username }}</h2>
                    <h4>Wypełnij formularz, aby dopasować dla siebie odpowiednią dietę i zestaw ćwiczeń!</h4>
                    {{ form(form) }}
                </div>
        {% if err %}
            <h2 style="color: #FF0000;">{{ err }}</h2>
        {% endif %}

    </div>
{%  endblock %}