{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

<div class="about">
    <h3>O Autorce</h3>
    <p>Nazywam się Angelika Płonka i zaczynam swoją przygodę z programowaniem. </p>
    <h1>PITU PITU jeszcze coś tu naszkrobię ;)</h1>
    <h3>Prywatnie: </h3>
    <h3>Cel powstania strony</h3>
    <p></p>
</div>

    <div>
        <h3>Kontakt</h3>
        <p>Jeśli masz pomysł co ulepszyć na stronie napisz maila na adres:
            angelikaplonka89@gmail.com </p>
    </div>

{% endblock %}
