.content{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.backgroundImage {
    background: black url("../pictures/background.jpg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
}

.backgroundForm {
    background: black url("../pictures/diet.jpeg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
}

.addCity {
    background: black url("../pictures/friends.jpg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
}

.mark{
    background: rgba(255, 255, 255, 0.55);
    width: 40vw;
}

.lighter{
    background: rgba(255, 255, 255, 0.45);
}

.change{
    color: black;
    /*background: #DBE9EA;*/
    background: rgba(255, 255, 255, 0.35);
    display: inline;
    padding: 30px;
}

#loadedRecipe{
    width: 800px;
}
/*.logOut{*/
    /*background: black;*/
    /*color: white;*/
    /*font-size: 1em;*/
    /*font-weight: bold;*/
    /*padding: 0.7em;*/
    /*display: inline-block;*/
    /*margin-left: 92vw;*/
/*}*/

/*#form_biodra{*/
    /*color: red;*/
/*}*/

#homepage {
    height: 90vh;
    width: 100%;
    color: white;

    background: rgba(7,84,69,1);
    background: -moz-linear-gradient(top, rgba(7,84,69,1) 0%, rgba(7,84,69,1) 16%, rgba(34,99,86,1) 65%, rgba(51,113,100,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,84,69,1)), color-stop(16%, rgba(7,84,69,1)), color-stop(65%, rgba(34,99,86,1)), color-stop(100%, rgba(51,113,100,1)));
    background: -webkit-linear-gradient(top, rgba(7,84,69,1) 0%, rgba(7,84,69,1) 16%, rgba(34,99,86,1) 65%, rgba(51,113,100,1) 100%);
    background: -o-linear-gradient(top, rgba(7,84,69,1) 0%, rgba(7,84,69,1) 16%, rgba(34,99,86,1) 65%, rgba(51,113,100,1) 100%);
    background: -ms-linear-gradient(top, rgba(7,84,69,1) 0%, rgba(7,84,69,1) 16%, rgba(34,99,86,1) 65%, rgba(51,113,100,1) 100%);
    background: linear-gradient(to bottom, rgba(7,84,69,1) 0%, rgba(7,84,69,1) 16%, rgba(34,99,86,1) 65%, rgba(51,113,100,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#075445', endColorstr='#337164', GradientType=0 );
}



#home{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
/*rgba(255, 255, 255, 0.25);*/

.main {
    /*background: black url("../pictures/background1.jpg") no-repeat center/cover;*/
    height: 100vh;
    /*height: 100%;*/
    width: 100%;
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(90%, rgba(134,174,204,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

 .eternity-form {
     padding: 15vh 5vh 5vw 5vw;
     max-width: 50vw;
 }

 /*footer*/
footer .container{
    height: 40px;
}

footer .row{
    font-weight: bold;
    padding: 1.5% 40% 1.5% 10%;
}

footer span{
    padding-right:3%;
}
footer span:nth-of-type(3){
    font-weight: bold;
}
footer .fa{
    color: white;
}