/*GENERAL STYLING*/
.lighter{
    background: rgba(255, 255, 255, 0.45);
}

.content{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/*REGISTRATION, LOGIN*/
.RegistrationBackground {
    background: black url("../pictures/background.jpg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
}

.logForm{
    border-radius: 10px;
    padding: 5%;
    color: black;
    text-align: center;
}

.eternity-form {
    max-width: 30vw;
}


/*HOMEPAGE*/
#homepage {
    height: 90vh;
    width: 100%;
    color: white;
    background: rgba(7,84,69,1);
    background: -moz-linear-gradient(top, rgba(7,84,69,1) 0%, rgba(7,84,69,1) 16%, rgba(34,99,86,1) 65%, rgba(51,113,100,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(7,84,69,1)), color-stop(16%, rgba(7,84,69,1)), color-stop(65%, rgba(34,99,86,1)), color-stop(100%, rgba(51,113,100,1)));
    background: -webkit-linear-gradient(top, rgba(7,84,69,1) 0%, rgba(7,84,69,1) 16%, rgba(34,99,86,1) 65%, rgba(51,113,100,1) 100%);
    background: -o-linear-gradient(top, rgba(7,84,69,1) 0%, rgba(7,84,69,1) 16%, rgba(34,99,86,1) 65%, rgba(51,113,100,1) 100%);
    background: -ms-linear-gradient(top, rgba(7,84,69,1) 0%, rgba(7,84,69,1) 16%, rgba(34,99,86,1) 65%, rgba(51,113,100,1) 100%);
    background: linear-gradient(to bottom, rgba(7,84,69,1) 0%, rgba(7,84,69,1) 16%, rgba(34,99,86,1) 65%, rgba(51,113,100,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#075445', endColorstr='#337164', GradientType=0 );
}

.overriting{
    padding-left: 100px;
}

.lighterMainSite{
    padding-top: 0;
    background: rgba(255, 255, 255, 0.35);
    color: black;
}
#home{
    font-family: 'Merriweather', serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
}

#speed{
    color: #0000F0;
}
#speed:hover{
    text-decoration: none;
    color: #0D3349;
}

#speedAfter{
    padding-bottom: 10px;
    padding-top: 10px;
}

/*speedDating, userStories*/
.build{
    height: 90vh;
    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 55%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(55%, rgba(145,232,66,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 55%, rgba(145,232,66,1) 100%);
    background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 55%, rgba(145,232,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 55%, rgba(145,232,66,1) 100%);
    background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 55%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
}

/*portalDescription*/
.portalDescription{
    background: black url("../pictures/portalDescription.jpg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
    color: black;
}
#portal{
    font-size: 22px;
    text-align: center;
    padding: 2%;
}

#portalHeader{
    font-family: 'Merriweather', serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px
}

/*addInformations*/
#info{
    max-width: 1100px;
}

.addInformations {
    background: black url("../pictures/friends.jpg") no-repeat center/cover;
    /*height: 100vh;*/
    height: 90vh;
    width: 100%;
    font-size: 18px;
    line-height: 200%;
    /*line-height: 24px;*/
    color: black;
}

.formLighter{
    background: rgba(255, 255, 255, 0.35);
    width: 45vw;
    /*padding: 0, 25px, 10px, 35px;*/
    padding: 10px 25px 10px 35px;
    /*padding: 35px;*/
}



.backgroundForm {
    background: black url("../pictures/diet.jpeg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
}


/*RECIPES*/
.recipes{
    height: 90vh;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(90%, rgba(134,174,204,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

input#send{
    color: black;
    background: deepskyblue;
    font-weight: bold;
}
input#send:hover{
    background: cadetblue;
}

.food{
    background-image: url("../pictures/food.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 800px 0;
}



.mark{
    background: rgba(255, 255, 255, 0.55);
    width: 40vw;
}

#loadedRecipe{
    width: 800px;
}
/*.logOut{*/
    /*background: black;*/
    /*color: white;*/
    /*font-size: 1em;*/
    /*font-weight: bold;*/
    /*padding: 0.7em;*/
    /*display: inline-block;*/
    /*margin-left: 92vw;*/
/*}*/

/*#form_biodra{*/
    /*color: red;*/
/*}*/




/*rgba(255, 255, 255, 0.25);*/

.main {

    height: 100vh;
    width: 100%;
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(90%, rgba(134,174,204,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 90%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );

}

 /*footer*/
footer.position{
    font-weight: bold;
    height: 30px;
    padding-left: 30vw;
    /*padding: 1.5% 40% 1.5% 10%;*/
}

footer span{
    padding-right:3%;
}
footer span:nth-of-type(3){
    font-weight: bold;
}
footer .fa{
    color: white;
}