{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <h1 id="home">Z nami smacznie zjesz, zadbasz o swoje ciało i poznasz bratnią duszę!</h1>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active overriting">
                    <img src="../pictures/recipes.jpg" alt="recipes">
                    <div class="carousel-caption lighterMainSite">
                        <h3>W naszej bazie jest ponad 2 miliony <a id="speed" href="{{ path('recipes')}}" target="_blank">przepisów!</a></h3>
                        <h3>I Ty znajdziesz coś dla siebie!</h3>
                    </div>
                </div>
                <div class="item overriting">
                    <img src="../pictures/speedDating.jpg" alt="speed dating">
                    <div class="carousel-caption lighterMainSite">
                        <h3>Specjalnie dla Ciebie: tematyczne <a id="speed" href="{{ path('speedDating')}}" target="_blank">speed dating!</a></h3>
                        <h4 id="speedAfter"><b>wegetarianin? weganin? witarianin? frutarianin?</b> A może <b>gluten-free?</b></h4>
                        <h4>Pomożemy Ci znaleźć <b>kompatybilnego</b> partnera!</h4>
                    </div>
                </div>
                <div class="item overriting">
                    <img src="../pictures/workout.jpeg" alt="workout">
                    <div class="carousel-caption lighterMainSite">
                        <h3>W grupie raźniej!</h3>
                        <h3><a id="speed" href="{{ path('fos_user_registration_register')}}" target="_blank">Zarejestruj się</a> i dołącz do lokalnej grupy treningowej!</h3>
                    </div>
                </div>
                <div class="item overriting">
                    <img src="../pictures/inspiration.jpg" alt="inspiration stories">
                    <div class="carousel-caption lighterMainSite">
                        <h3>Daj się zainspirować!</h3>
                        <h3><a id="speed" href="{{ path('fos_user_registration_register')}}" target="_blank">Historie</a> użytkowników, którzy zmienili swoje życie!</h3>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><br>
        <footer class="content position">
            <span>2019</span>
            <span><a href="https://github.com/Angelika-developer" class="fa fa-github fa-2x" aria-hidden="true" target="blank"></a></span>
            <span> Angelika </span>
        </footer>
    </div>
{% endblock %}
