{%  extends "base.html.twig" %}

{% block body %}

    <div class="content">
        <br><h2>Kalendarz SPEED DATING w rozbudowie!</h2><br>
        <h4>Napisz maila na aaa@aa.pl, aby dowiedzieć się o wydarzeniach organizowanych w Twojej okolicy!</h4>
    </div>
{% endblock %}